<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ page.excerpt | strip_html }}">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/pygments/pygments.css">
	<!-- <link rel="stylesheet" href="/css/screen.css"> -->
	<link rel="stylesheet" href="/css/post.css">
</head>
<body>
	<div class="body-wrapper">
		<h1 class="title"><a href="/index.html">Home Page</a></h1>
		<h3 class="title sub">Author: {{ page.author }} | Category: {{ page.categories | array_to_sentence_string }} | tags: {{ page.tags | array_to_sentence_string}}</h3>
		<div class="content">
			<div class="content-wrapper">
				{{ content }}
			</div>
		</div>
	</div>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F01e89f8f80dc614a9be0f31eb8b9fdb4' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>